<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!-- OAuth2 Settings-->
		<add key="token:authsvr" value="https://auth.dev.adaptpos.com/adaptposconnect/oauth/token" />

		<!-- connect connection information -->
		<add key="connect:url" value="https://connect.dev.adaptpos.com/" />
		<add key="connect:clientid" value="pos-datahub-v1" />
		<add key="connect:secret" value="yZpymXVjxsk1ojh7U4a6iUT64gyT9RQm9q7OJMr48HE" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>